<link rel="stylesheet" href="../static/style.css">
<ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
          <form action="#" method="post">
        <input class="usernameInput" type="text" name="nm" maxlength="20"/>
          </form>
      </div>
    </li>
  </ul>